.ingredients__title {
	margin: 50px inherit 25px inherit;
}

.ingredients__price {
	color: $orange;
	text-align: center;
	line-height: 56px;
	font-size: 20px;
}

.ingredients__quantity-line {
	font-size: 1.05em;
	.green {
		margin-right: 5px;
		font-weight: 400;
	}
	i {
		margin-right: 5px;
	}
}