.locations__title {
	margin: 50px inherit 25px inherit;
}

.locations__name {
	.name {
		color: $lightBlue !important;
		font-weight: 400;
	}
}

.locations__icon {
	margin-top: 15px;
}

.locations__date {
	font-style: italic;
	color: $gray;
	margin-top: 20px;
	float: right;
}