.recipes__recipe-info {
	text-align: center;
}

.recipes__big-title {
	color: $darkRed;
	margin-bottom: 30px;
	i {
		color: black;
		margin-right: 15px;
	}
}

.recipes__rating-title {
	color: $orange;
	font-style: italic;
}

.recipes__rating-container {
	background: $orange;
	color: white;
	padding: 10px 15px;
	border-bottom: 3px solid $lightGray;
	margin-bottom: 30px;
}

.recipes__rank-name {
	text-align: center;

	a {
		background: darken($orange, 10%);
		padding: 8px 12px;
		color: white;
		@include element-transition;

		&:hover {
			background: darken($orange, 20%);
			text-decoration: none;
		}
	}
}

.recipes__breadcrumb-steps li.active {
	color: $lightBlue;
	i {
		color: black;
	}
}

.recipes__title {
	font-family: 'Crete Round', serif;
	font-size: 1.5em;
}

.recipes__description {
	border-top: 2px $lightGray solid;
	padding: 15px 10px;
	margin: 10px 0;
	line-height: 25px;
}

.recipes__star {
	font-size: 150%;

	&.yellow {
		color: $yellow;
	}
}

#display-stars {
	margin-top: 7px;

	.recipes__star {
		cursor: pointer;
		margin-right: 8px;
	}
}