@import "compass/css3/transition";
@import "breakpoints";
@import "colors";

@mixin element-transition {
	@include transition-property(all);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in-out);
}

body {
	font-size: 15px;
	padding-top: 70px;
}

.paginator {
	text-align: center;
}

// Components
@import "components/navbar";
@import "components/flashMessages";

// Modules
@import "modules/ingredients";
@import "modules/locations";
@import "modules/quantities";
@import "modules/recipes";