@import "breakpoints";
@import "colors";

body {
	font-size: 15px;
	padding-top: 70px;
}

.paginator {
	text-align: center;
}

// Components
@import "components/navbar";
@import "components/flashMessages";

// Modules
@import "modules/ingredients";
@import "modules/quantities";
@import "modules/recipes";