@import "breakpoints";
@import "colors";

body {
	font-size: 15px;
	padding-top: 70px;
}

.navbar-default {
	background-color: $red;
}

.paginator {
	text-align: center;
}

.headroom {
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}

@import "modules/recipes";
@import "modules/ingredients";